@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #e6ffe6;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#gameScore {
  display: none;
  text-align: center;
  font-size: 25px;
}

#first {
  float: left;
  font-size: 30px;
  margin-left: 250px;
}

#scoreOne, #scoreTwo {
  float: center;
  font-size: 20px;
  text-align: center;
}

#second {
  float: right;
  font-size: 30px;
  margin-right: 250px;
}

/* #scoreTwo {
  float: center;
  font-size: 20px;
  text-align: center;
} */
table {
  width: 500px;
  height: 500px;
  margin-top: 300px;
  margin-left: 700px;
  align-self: center;
  border: 1px solid black;
  display: table;
}

table, th {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  width: 20px;
}

#reset {
  font-size: 50px;
  text-align: center;
  /* display: none; */
}